.header-image {
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/image1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 50px;
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.header-heading{
    font-size: 50px;
    padding-top: 100px;
}

.bannerblock1{
   background-color:white;
   max-width: 300px;
   width: 100%;
   margin-right: 30px;
   margin-left: 30px;
   box-shadow:  0 11px 35px rgb(0 0 0 / 11%);
}
.bannerblock{
    max-width: 300px;
    width: 100%;
    margin-right: 30px;
    margin-left: 30px;
    background-color: white;
    box-shadow:  0 11px 35px rgb(0 0 0 / 11%);
}

.ml-auto{
    margin-left:auto;
    margin-right: auto;
    box-sizing: border-box;
    text-align: center;
    padding: auto;
    padding-top:20px;
    text-decoration: none;
    list-style-type: none;
    border: none;
}
.heading-block{
    color: #0d2252;
    font-weight: 800;
}


.heading-block-md{
    padding-top: 15px;
    color:#f4c506;
    font-weight: 700;
}
/* .heading-block-pay{
    color:brown;
    text-align: center;
    background-color: yellow;
    border:none;
} */
.heading-payment{
    /* background-color: rgb(247, 249, 249); */
    color: #0d2252;
}
.heading-policy{
    color: #0d2252;
    padding-top: 20px;
    padding-left: 10px;
    
}
.radio{
    color:#0d2252 ;
}
/*  */
.tab {
    text-align: center;
    font-size: 20px;
    font-family:serif;
    
  }
  .tabcontent {
    display: none;
    padding: 6px 12px;
   
    border-top: none;
  }
  .second-heading{
      color: rgb(159, 158, 158);
  }
  h3{
    line-height: 1;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
  }
  